<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>OpenAI Quickstart</title>
    <link
            rel="shortcut icon"
            th:href="@{/static/dog.png}"
    />
    <link rel="stylesheet" th:href="@{/static/main.css}"/>
</head>

<body>
<img th:src="@{/static/dog.png}" class="icon" alt="狗狗" src=""/>
<h3>Ask Me Questions!</h3>
<form action="#" th:action="@{/index}" th:object="${formData}" method="post">
    <input type="text" id="question" name="question" th:field="*{content}"
           placeholder="your question here" required/>
    <input type="hidden" id="objectId" name="objectId" th:value="${objectId}">
    <!-- 因为引入了spring security模块，暂时不需要api-key了 -->
    <!--<input type="password" id="apikey" name="apikey" th:field="*{apiKey}" required>-->
    <input type="submit" value="submit"/>
</form>

<div class="result">
    <span th:text="${result!=null?result:''}"></span>
</div>
</body>
</html>
